html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}










* {
	box-sizing: border-box;
}



html {
	width: 100%;
}

/*  SITE-CONTENT
*/

.site-content {
	background-color: grey;
	width: 100%;
	height: 100%;
}

/*  top-social-section
*/


.top-social-section {
  background-color: black;
  height: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;

}

.top-social-section a {
	color: white;
  font-size: 25px;
	margin: 20px 20px 20px 20px;
	text-shadow: 2px 2px #891f1f;
}

.top-social-section a:link {
	color: white;
}
.top-social-section  a:hover {
	color: #F6C3B5;
}
.top-social-section a:active {
  color: #efeade;
}
/*  main-menu-section
*/

.main-menu-section {
	height: 70px;
	font-size: 25px;
	margin-bottom: 10px;
	width: auto;
}
.main-menu-section .menu-links {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 20px;
	z-index: 3;
}

.main-menu-section .menu-links ul {
	display: flex;
	flex-basis: auto;
	justify-content: center;
	align-items: center;

}

.main-menu-section .menu-links ul li {
	color: white;
	height: 20px;
}

.main-menu-section .menu-links ul li a {
	text-decoration: none;
	padding: 10px 10px 10px 10px;
	margin-top: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: white;
	text-shadow: 2px 2px #891f1f;
}

.main-menu-section .menu-links ul li a:link {
	/* color: white; */
}

.main-menu-section .menu-links ul li a:hover {
	color: #F2E1DD;
}
.main-menu-section .menu-links ul li a:active {
	color: #902E13;
}

.link1 {
	flex: 1;
}

.link2 {
	flex: 1;
}
.link3 {
	flex: 1;
}
.link4 {
	flex: 1.5;
}



/* title-image-section */

.title-image-section {
	background-image: url("https://images.pexels.com/photos/227432/pexels-photo-227432.jpeg?auto=compress&cs=tinysrgb&h=650&w=940");
	width: 100%;
	height: 90vh;

	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
  text-align: center;

}
.title-image-section .title-container {
	width: 100%;
	height: 90vh;
	position: relative;
  text-align: center;
}
.title-image-section .title-container h1{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	font-size: 80px;
	color:  #efeade;
	font-family: 'Rock Salt', cursive;
	text-shadow: 2.5px 2.5px #891f1f;
}

/* cakes-cakepops-section */

.cakes-cakepops-section {
	height: auto;
	/* adjust the heights for grid rows with px */
	border-bottom: 15px solid #EEE6E3;
}

.cakes-cakepops-section .cakes-title{
	padding-top: 20px;
  justify-content: center;
  align-items: center;
	text-align: center;
}

.cakes-cakepops-section .cakes-title h1{
	color: #FEF2EF;
	font-size: 70px;
	padding-bottom: 10px;
	text-shadow: 2px 2px #891f1f;
}

.cakes-cakepops-section .order-contain .sections{
	/* width: 80%; */
	height: auto;
	/* padding-top: 30px;
	padding-bottom: 30px; */
	text-align: center;
	color: #efeade;
}

.cakes-cakepops-section .order-contain {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-top: 40px;
	padding-bottom: 60px;
}
.cakes-cakepops-section .order-contain .cakes{
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.cakes-cakepops-section .order-contain .cakepops {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
}

.cakes-cakepops-section .order-contain .sections img {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 20px;
	border: 10px solid #EEE6E3;
	height: 283px;
	width: 414px;
}

.cakes-cakepops-section .order-contain .sections h1 {
	font-size: 35px;
	margin: 10px;
	font-family: 'Bad Script', sans-serif;
	text-shadow: 2px 2px #891f1f;
	padding-top: 26px;
}
.cakes-cakepops-section .order-contain .sections h5 {
	font-size: 18px;
	font-family: 'Bad Script', sans-serif;
}


/* Order Phone Section  */

.order-phone-section {
	background-image : url("https://images.pexels.com/photos/1857157/pexels-photo-1857157.jpeg?auto=compress&cs=tinysrgb&dpr=3&h=750&w=1260");
	width: 100%;
	height: 700px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
  text-align: center;
  color: #505050;
	border-bottom: 15px solid #EEE6E3;
}


.order-phone-section .phone-center{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.order-phone-section .phone-center h1{
	font-size: 70px;
	padding-bottom: 10px;
	text-shadow: 2px 2px #891f1f;
	color: #FEF2EF;
}

.order-phone-section .phone-center button {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	background-color: #FEF2EF;
}

.order-phone-section .phone-center button a{
	font-size: 40px;
	text-decoration: none;

}

.order-phone-section .phone-center button a:link {
	color: #891f1f;
}
.order-phone-section .phone-center button a:hover {
	color: #F6C3B5;
}
.order-phone-section .phone-center button a:active {
  color: #efeade;
}


/* About Us Section  */

.about-us-section {
	background-image : url("https://images.unsplash.com/photo-1531984970149-862affa9a7ca?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=734&q=80");
	width: 100%;
	height: 700px;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	position: relative;
  text-align: center;
  color: #FEF2EF;
	border-bottom: 15px solid #EEE6E3;
}

.about-us-section .about-us-center{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.about-us-section .about-us-center h1{
	font-size: 70px;
	padding-bottom: 10px;
	text-shadow: 2px 2px #891f1f;
}

.about-us-section .about-us-center button {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 3px solid white;
	background-color: #FEF2EF;
}

.about-us-section .about-us-center button a{
	font-size: 25px;
	text-decoration: none;
	color: #891f1f;

}
.about-us-section .about-us-center button a:link {
	color: #505050;
}
.about-us-section .about-us-center button a:hover {
	color: white;
	text-shadow: 2px 2px #891f1f;
}
.about-us-section .about-us-center button a:active {
  color: #efeade;
}

/* GALLERY SECTION  */


.gallery-section {
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	padding-top: 30px;
	padding-bottom: 30px;

	display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-gap: 2rem;

  }
.gallery-section  img {
	border: 1px solid #ccc;
  box-shadow: 2px 2px 6px 0px  rgba(0,0,0,0.3);
	margin-left: auto;
	margin-right: auto;
	width: 351px;
	height: 518px;
}



/* GALLERY SECTION */

footer {
  background: #505050	;
  padding: 30px 10px;
	padding-bottom: 20px;
	border-top: 15px solid #EEE6E3;
  text-align: center;
  color: white; }

footer .menu {
  margin-bottom: 15px; }
  footer .menu li {
    display: inline-block;
    padding: 10px 20px; }
    footer .menu li a {
      font-weight: 600;
      color: white;
      text-decoration: none;
      text-transform: uppercase;
      font-size: 0.8rem; }

footer .social-media li {
  display: inline-block;
  padding: 0 10px; }
  footer .social-media li a {
    color: white;
    font-size: 2rem;
    opacity: .5; }

		footer p {
			font-size: 0.8rem;
			font-weight: 300;
			margin-top: 25px; }




/* Media queries */

@media only screen and (max-width: 966px) {

	.cakes-cakepops-section .order-contain{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;
	}
	.cakes-cakepops-section .order-contain .cakes {
		padding-bottom: 60px;
	}
}

@media (min-width: 1178px) {
	.cakes-cakepops-section .order-contain{

	}
	.cakes-cakepops-section .order-contain .cakes {

	}
}



/* SMALL screens */
@media only screen and (max-width: 588px) {

	.cakes-cakepops-section .order-contain{
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr;

	}
	.cakes-cakepops-section .order-contain .cakes {
		padding-bottom: 60px;
	}
	.cakes-cakepops-section .order-contain .sections .textbox-cakes {
		width: 80%;
		height: 80%;
		margin: auto;
	}

	.cakes-cakepops-section .order-contain .sections img {
		width: 80%;
		height: 80%;
	}


	.order-phone-section .phone-center button a {
		font-size: 26px !important;
	}
	.order-phone-section .phone-center h1 {
		font-size: 45px !important;
	}
}
